* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: bold;
  height: 100%;
  text-align: center;
}

h3 {
  font-size: 2rem;
}

p {
  font-size: 1.2rem;
}

body {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 30px;
  min-height: 100%;
  padding: 30px;
}

#background {
  background-image: url("images/fountains.jpg");
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: -1;
}

a {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 15px;
  color: inherit;
  outline: 0;
  text-decoration: none;
}

.icons {
  display: flex;
  gap: 5px;
}

.icons img {
  display: block;
  height: 35px;
  margin: 8px;
  width: 35px;
}

.projects {
  align-content: center;
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  gap: 30px;
  justify-content: center;
  max-width: 1100px;
}

.projects a {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  text-shadow: 0rem 0rem 1rem #000;
  width: 340px;
}

.projects div {
  border-radius: 50%;
}

.projects img {
  height: 320px;
  object-fit: contain;
  width: 320px;
}

footer {
  font-family: "Courier New", Courier, monospace;
}
