* {
  margin: 0;
}

html {
  height: 100%;
}

body {
  height: 100%;
}

header {
  background-image: url('images/fountains.jpg');
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.overlay {
  height: 100%;
  background-color: rgba(0,0,0,0.2);
}

.projects {
  background-image: url('images/dark_wood.png');
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  padding-bottom: 10px;
  text-align: center;
}

.projects h2 {
  background-color: rgba(0,0,0,0.4);
  font-size: 30px;
  line-height: 50px;
  font-weight: normal;
  margin-bottom: 10px;
}

.project {
  display: inline-block;
  box-sizing: border-box;
  width: 120px;
  margin: 10px;
}

.project a {
  text-decoration: none;
  color: inherit;
  font-size: 16px;
}

.project img {
  display: block;
  width: 120px;
  height: 120px;
  margin-bottom: 5px;
}