<h2>Add Turn</h2>

<form name="form" 
      ng-submit="form.$valid && validResponses().length > 0 && submit()"
      novalidate>

  <fieldset>
    <legend>Player</legend>
    <select ng-model="player" required>
      <option ng-repeat="player in $store.players">{{player.name}}</option>
    </select>
  </fieldset>

  <fieldset>
    <legend>Guess</legend>
    <label>Suspect</label>
    <select ng-model="guess[0]" required>
      <option ng-repeat="card in $store.cards | filter : {group:'Suspect'}">{{card.name}}</option>
    </select>
    <label>Weapon</label>
    <select ng-model="guess[1]" required>
      <option ng-repeat="card in $store.cards | filter : {group:'Weapon'}">{{card.name}}</option>
    </select>
    <label>Location</label>
    <select ng-model="guess[2]" required>
      <option ng-repeat="card in $store.cards | filter : {group:'Location'}">{{card.name}}</option>
    </select>
  </fieldset>

  <fieldset>
    <legend>Responses</legend>
    <div ng-repeat="response in responses" ng-hide="player === response.player">
      <label>{{response.player}}</label>
      <select ng-model="response.showedCard" required>
        <option value="null">No response</option>
        <option value="true">Showed a card</option>
        <option value="false">Couldn't show a card</option>
      </select>
      <select ng-model="response.card" ng-show="response.showedCard == 'true'" required>
        <option value="null">Unknown</option>
        <option>{{guess[0]}}</option>
        <option>{{guess[1]}}</option>
        <option>{{guess[2]}}</option>
      </select>
    </div>
    <p class="error" ng-show="validResponses().length === 0">
      At least one person must respond
    </p>
  </fieldset>

  <div>
    <input type="submit" class="btn" value="Add Turn"
           ng-disabled="form.$invalid || validResponses().length === 0">
  </div>

</form>
