<h1>Overview</h1>

<table>
  <thead>
    <tr>
      <th ng-repeat="player in $store.players">{{player.name}}</th>
    </tr>
  </thead>
  <tbody ng-repeat="card in $store.cards | filter : {group:'Suspect'}">
    <tr><td colspan="{{$store.players.length}}">{{card.name}}</td></tr>
    <tr>
      <td ng-repeat="player in $store.players">
        <span ng-class="icon(player, card)"></span>
      </td>
    </tr>
  </tbody>
</table>

<table>
  <thead>
    <tr>
      <th ng-repeat="player in $store.players">{{player.name}}</th>
    </tr>
  </thead>
  <tbody ng-repeat="card in $store.cards | filter : {group:'Weapon'}">
    <tr><td colspan="{{$store.players.length}}">{{card.name}}</td></tr>
    <tr>
      <td ng-repeat="player in $store.players">
        <span ng-class="icon(player, card)"></span>
      </td>
    </tr>
  </tbody>
</table>

<table>
  <thead>
    <tr>
      <th ng-repeat="player in $store.players">{{player.name}}</th>
    </tr>
  </thead>
  <tbody ng-repeat="card in $store.cards | filter : {group:'Location'}">
    <tr><td colspan="{{$store.players.length}}">{{card.name}}</td></tr>
    <tr>
      <td ng-repeat="player in $store.players">
        <span ng-class="icon(player, card)"></span>
      </td>
    </tr>
  </tbody>
</table>
