<table class="table">
  <thead>
    <tr>
      <th>
      <th ng-repeat="player in $store.players"> {{player.name}}
  <tbody>
    <tr ng-repeat="suspect in $store.cards | filter : {group:'Suspect'}">
      <td> {{suspect.name}}
      <td ng-repeat="player in $store.players"> {{logic.hasCard(player.name,suspect.name)}}
  <tbody>
    <tr ng-repeat="weapon in $store.cards | filter : {group:'Weapon'}">
      <td> {{weapon.name}}
      <td ng-repeat="player in $store.players"> {{logic.hasCard(player.name,weapon.name)}}
  <tbody>
    <tr ng-repeat="location in $store.cards | filter : {group:'Location'}">
      <td> {{location.name}}
      <td ng-repeat="player in $store.players"> {{logic.hasCard(player.name,location.name)}}
</table>
