<form name="setupForm" ng-submit="setupForm.$valid && submit()" novalidate>

  <div class="form-group">
    <h2>User</h2>
    <input class="form-control" ng-model="$store.players[0].name" placeholder="Your Name" required>
  </div>

  <div class="form-group">
    <h2>Other Players</h2>
    <div class="input-group" ng-repeat="player in $store.players" ng-if="!$first">
      <input class="form-control" ng-model="player.name" placeholder="Player Name" required>
      <span class="input-group-btn">
        <button class="btn btn-default" ng-disabled="$store.players.length < 4" ng-click="removePerson($index)">x</button>
      </span>
    </div>
    <button class="btn btn-default" ng-click="addPerson()" ng-show="$store.players.length < 6">+</button>
  </div>

  <div class="form-group">
    <h2>Card Set</h2>
    <select class="form-control" ng-model="cardSet" ng-options="s.name for s in cardSets" required></select>
  </div>

  <div class="form-group">
    <h2>Hand</h2>

    <div class="row no-gutter">
      <div class="col-xs-6 col-sm-4 col-md-2" ng-repeat="card in cardSet.cards">
        <div class="checkbox">
          <label><input type="checkbox" ng-model="card.inHand">{{card.name}}</label>
        </div>
      </div>
    </div>

  <div class="form-group no-header">
    <input type="submit" class="btn btn-default" value="Continue">
  </div>

</form>
