<form name="setupForm" ng-submit="setupForm.$valid && submit()" novalidate>

  <h3>Basic Info</h3>

  <label>Your Initials</label>
  <input type="text" ng-model="players[0].name" placeholder="Your Initials" required>

  <label>Card Set</label>
  <select ng-model="cardSet" ng-options="s.name for s in cardSets"></select>

  <label>Number of Players</label>
  <label class="radio-label" ng-repeat="i in [3,4,5,6]">
    <input type="radio" ng-model="$parent.numPlayers" name="numPlayers" ng-value="i">
    <span class="label-body">{{i}}</span>
  </label>

  <h3>Player Initials</h3>

  <div ng-repeat="player in players">
    <input type="text" ng-model="player.name" placeholder="Player {{$index+1}} Initials" ng-disabled="$index === 0">
  </div>

  <h3>Your Hand</h3>

  <div class="check-group">
    <label ng-repeat="card in cardSet.cards | filter : {group:'Suspect'}">
      <input type="checkbox" ng-model="card.inHand">
      <span class="label-body">{{card.name}}</span>
    </label>
  </div>

  <div class="check-group">
    <label ng-repeat="card in cardSet.cards | filter : {group:'Weapon'}">
      <input type="checkbox" ng-model="card.inHand">
      <span class="label-body">{{card.name}}</span>
    </label>
  </div>

  <div class="check-group">
    <label ng-repeat="card in cardSet.cards | filter : {group:'Location'}">
      <input type="checkbox" ng-model="card.inHand">
      <span class="label-body">{{card.name}}</span>
    </label>
  </div>

  <input class="btn" type="submit" value="Start Game">

</form>
