<h2>Turns</h2>

<p ng-show="$store.turns.length === 0">
  No turns added yet...
</p>

<fieldset ng-repeat="turn in $store.turns">
  <legend>Turn {{$index+1}} - {{turn.player}}</legend>

  <label>Guess</label>
  <p>
    {{turn.guess[0]}}<br/>
    {{turn.guess[1]}}<br/>
    {{turn.guess[2]}}<br/>
  <p>

  <label>Responses</label>
  <p>
    <span ng-repeat="response in turn.responses">{{summary(response)}}<br/></span>
  </p>
</fieldset>

<p ng-hide="$store.previousState === undefined">
  <button class="btn" ng-click="undoTurn()">Undo Last Turn</button>
</p>