body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

h1, h2, .app, .img-div {
  text-align: center;
}

section {
  padding: 10px 0;
}

.coloured {
  background-color: #eee;
}

.container {
  max-width: 768px;
}

.population {
  margin: 10px auto;
  overflow: hidden;
  max-width: 300px;
}

.buttons {
  margin: 10px 0;
}

.colour {
  float: left;
  width: 10%;
  padding-bottom: 10%;
}

.idealColour {
  height: 80px;
  width: 80px;
  margin: 10px auto 20px auto;
}

.rgbinput, .rgbval {
  margin: 5px 0;
}

#idealR {
  background-color: #f00;
}

#idealG {
  background-color: #0f0;
}

#idealB {
  background-color: #00f;
}

.algorithm ol {
  text-align: left;
}

img.cube {
  max-width: 200px;
}

footer {
  text-align: center;
  padding: 15px;
}

footer a, a:link, a:visited, a:hover, a:active {
  color: #333;
  text-decoration: underline;
}