<form name="addTurnForm" ng-submit="addTurnForm.$valid && submit()" novalidate>
  
  <p>Enter turn information.</p>
  <div class="col-sm-6">
    <div class="form-group">
      <h2>Player</h2>
      <select class="form-control" ng-model="player" required>
        <option ng-repeat="player in players">{{player.name}}</option>
      </select>
    </div>
    
    <div class="form-group">
      <h2>Guess</h2>
      <select class="form-control" ng-model="guess[0]" required>
        <option ng-repeat="suspect in suspects">{{suspect.name}}</option>
      </select>
      <select class="form-control" ng-model="guess[1]" required>
        <option ng-repeat="weapon in weapons">{{weapon.name}}</option>
      </select>
      <select class="form-control" ng-model="guess[2]" required>
        <option ng-repeat="location in locations">{{location.name}}</option>
      </select>
    </div>
  </div>
  
  <div class="form-group col-sm-6">
    <h2>Responses</h2>
    <div class="form-group" ng-repeat="response in responses" ng-hide="player === response.player">
      <h3>{{response.player}}</h3>
      <select class="form-control" ng-model="response.hasCard" required>
        <option value="null">No response</option>
        <option value="true">Showed a card</option>
        <option value="false">Couldn't show a card</option>
      </select>
      <select class="form-control" ng-model="response.card" ng-show="response.hasCard == 'true'" required>
        <option value="null">Unknown</option>
        <option>{{guess[0]}}</option>
        <option>{{guess[1]}}</option>
        <option>{{guess[2]}}</option>
      </select>
    </div>
  </div>
  
  <div class="form-group col-sm-12">
    <input type="submit" class="btn btn-default" value="Add Turn">
  </div>
  
</form>